{% comment %}
vim: tabstop=4:softtabstop=4:shiftwidth=4:expandtab
{% endcomment %}{% load url from future %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}webmapper/lib/jasmine-standalone-1.1.0/lib/jasmine-1.1.0/jasmine_favicon.png">

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/lib/jasmine-standalone-1.1.0/lib/jasmine-1.1.0/jasmine.css">
  <script type="text/javascript" src="{{STATIC_URL}}webmapper/lib/jasmine-standalone-1.1.0/lib/jasmine-1.1.0/jasmine.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}webmapper/lib/jasmine-standalone-1.1.0/lib/jasmine-1.1.0/jasmine-html.js"></script>

  <!-- include source files here... -->

  {% include "webmapper/_webmapper_media.html" %}

  <script type="text/javascript">
    (function(){
       
        window.utils = {
        getUrlVars: function(){
            // from http://jquery-howto.blogspot.com/2009/09/get-url-parameters-values-with-jquery.html
            var vars = {}, hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++){
                hash = hashes[i].split('=');
                vars[hash[0]] = hash[1];
            }
            return vars;
            },
            // http://stackoverflow.com/questions/105034/
            guidGenerator : function guidGenerator() {

                var S4 = function() {
                    return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
                };

                return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());

            },
            genHiddenContainer: function(){

                var div = $('<div></div>');
                var guid = this.guidGenerator();
                $(div).attr('id', guid);
                $('body').append(div)
                if(utils.getUrlVars().show_maps == "true"){

                }
                else{
                    $(div).css('position', 'absolute');
                    $(div).css('top', '-1000px');
                    $(div).css('left', '-1000px');
                }
                return div[0];

            },
            buildWebmapperInstance: function(opts){
                // I think almost every webmapper spec will require a Map instance
                // build and return a webmapper instance from some sensible defaults

                var defaults = {};
                if(opts != undefined)
                    var combinedOpts = _.extend(defaults, opts);
                else
                    var combinedOpts = defaults;

                if(!(combinedOpts.domId || combinedOpts.baseEl)){
                   combinedOpts.baseEl = this.genHiddenContainer();
                }
                return new webmapper.Map(combinedOpts);

            },
            buildPoint: function(){
                // construct a random point
                var lon = Math.floor(Math.random()*360) - 180
                var lat = Math.floor(Math.random()*180) - 90
                // need to rewrite the interface to the points, 
                // expecting (possibly) json strings is strange
                var geojson = {type:"Point", coordinates:[lon, lat]}
                return new webmapper.Point({geojson:geojson, lat:lat, lon:lon})
            }
       }
        
    })(); /*end utils*/
  </script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="{% url 'test_specs' spec_name='ExampleSpec.js' %}"></script>
  <script type="text/javascript" src="{% url 'test_specs' spec_name='MapLoadsSpec.js' %}"></script>
  <script type="text/javascript" src="{% url 'test_specs' spec_name='QueryParams.js' %}"></script>
  <script type="text/javascript" src="{% url 'test_specs' spec_name='MapPane.js' %}"></script>
  <script type="text/javascript" src="{% url 'test_specs' spec_name='PointsSpec.js' %}"></script>
    
  {% if additional_specs %}
      {% comment %} see webmapper.defaults.ADDITIONAL_SPECS {% endcomment %}
      {% for spec, deplist in additional_specs.iteritems %}
          {% for spec_dependency in deplist%}
              <script type="text/javascript" src="{{spec_dependency}}"></script>
          {% endfor%}
          <script type="text/javascript" src="{{spec}}"></script>
      {% endfor %}
  {% endif %}
  
  <script type="text/javascript">
    (function() {

      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
    <div id="test-container">
    </div> 
</body>
</html>
