{% load url from future %}

{% for css_file in webmapper_media.css %}
<link rel="stylesheet" type="text/css" href="{{css_file}}"></link>
{% endfor %}

{% for js_file in webmapper_media.js %}
<script type="text/javascript" src="{{js_file}}"></script>{% endfor %}


