<!doctype html>
<html>

  <head>
    <title>{% block title %}embedded webmapper map{% endblock title %}</title>
    {% include "webmapper/_webmapper_media.html" %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/css/reset.css">
    <script type="text/javascript">
      $(document).ready(function(){
          window.wmap = new webmapper.Map({id:{{wmap.id}}, 
                                           domId:"webmapper-container",
                                           embedded:true
                                           })
      })
    </script>
  </head>

  <body>
  <div id="webmapper-container">
  </div>

</body>
</html>

