{% extends 'webmapper/webmapper_base.html' %}
{% load url from future %}

{% block title %}Webmapper: {{ wmap.title }}{% endblock title %}

{% block media %}
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/css/reset.css">
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/css/webmapper_style.css">
{% endblock media %}

{% block map-area %}
  <div id="webmapper-map-list">
    <h1>django-webmapper</h1>
    {% for map in wmaps %}
    <h3><a href="{{map.get_absolute_url}}">{{map.title}}</a></h3>
    {% endfor %}
  </div>
  <a href="{% url "map_create" %}">CREATE MAP</a>
{% endblock map-area %}

