{% extends "webmapper/webmapper_base.html" %}

{% block title %}Webmapper: {% endblock title %}

{% block media %}

{{block.super}}

<script type="text/javascript">
  $(document).ready(function(){
      window.wmap = new webmapper.Map(
        {
          id:{{wmap.id}}, 
          domId:"webmapper-container-{{wmap.id}}",
          applicationViews: [
            // pass in id or el
            new webmapper.MapCoreEditView({el:$("#webmapper-core-edit")}),
            new webmapper.ToolPaletteView({el:$("#webmapper-palette")})
//          new webmapper.DescriptionView({el:$("webmapper-description-{{wmap.id}}")})
          ],
        })
      })

</script>
{% endblock media %}

{% block tool-area %}
<div id="tools" class="webmapper-ns">
  <div id="webmapper-palette" class="interface-box"></div>
  <div id="webmapper-core-edit" class="interface-box core-edit"></div>
</div>
{% endblock %}

{% block map-area %}
  <div id="webmapper-container-{{wmap.id}}" class="webmapper-ns"></div>
  <div id="webmapper-description-{{wmap.id}}" class="webmapper-ns"></div>
{% endblock map-area %}
