{% extends 'webmapper/webmapper_base.html' %}

{% block title %}{{ wmap.title }}{% endblock title %}

{% block media %}
  {{block.super}}
  <script type="text/javascript">
    $(document).ready(function(){
      {% block map-init %}
      window.wmap = new webmapper.Map({id:{{wmap.id}},
                                       fillContainer:true, 
                                       domId:"webmapper-container"})
      {% endblock map-init %}
    })
  </script>
{% endblock media %}

{% block map-area %}
  <div id="webmapper-container" style="height:500px; width:900px;">
  </div>
{% endblock map-area %}
