{% extends "webmapper/webmapper_base.html" %}

{% block title %}Create Map{% endblock title %}

{% block map-init %}

{% endblock map-init %}

{% block map-area %}

<div id="new-map-form-container" class="webmapper-ns">
  <h2>Create Map</h2>
  <form action="{% url map_create %}" id="new-map-form" method="post">
    {{map_form.as_p }}
    {% csrf_token %}

    <input type="submit" value="create!" />
    <div class="clear"></div>
  </form>
</div>

{% endblock map-area %}
