<!doctype html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Webmapper: {% block title %}{% endblock title %}</title>

    {% block media %}

      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/css/reset.css">
      <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}webmapper/css/layout.css">

      {% include "webmapper/_webmapper_media.html" %}

    {% endblock media %}

  </head>

  <body class="webmapper-ns">
    {% block tool-area %}{% endblock tool-area %}

    <div id="column-block">

    {% block map-area %}
    {% endblock map-area %}

    {% block content_footer %}
    {% endblock content_footer %}
    </div>

    {% block footer %}
    <div id="logo">
    </div>
    {% endblock footer %}

  </body>

</html>
