/* Stylesheets Courtesy of Jérôme Gravel-Niquet
 * */

body {
  background-color:#eeeeee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  font-size:12px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 20px 0 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color:#668051;
  padding: 10px 0 15px;
}

h3 {
  font-size:18px;
  font-weight:bold;
  line-height:20px;
  margin:16px 0px;
}

h3>a {
  color:#004d88;
}

#column-block {
  width: 900px;
  margin:0px auto;
  padding:10px;
  background-color:white;
  margin: 0 auto 40px;
  background: white;
  padding: 15px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}


