.webmapper-ns{
  position:relative;
}

.webmapper-ns .pane-container{
  display:block;
  margin:0px auto;
  position:relative;
}

.webmapper-ns #webmapper-maps-detail>p{
  font-size:24px;
  text-align:center;
}

.webmapper-ns #webmapper-map-list{
  width:500px;
}

.webmapper-ns #webmapper-maps>p{
 font-size:24px;
 text-align:center;
 color: #777777;
 text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}

.webmapper-ns #logo {
  margin: 10px;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
  clear:both;
}

.webmapper-ns .webmapper-mapview-pane {
  font-size:12px;
}

/* Editing */
.webmapper-ns #tools {
  z-index:100;
  float:left; 
  position:absolute;
  left:5px;
  top:0px;
}

.webmapper-ns .interface-box{
  float:left;
  clear:left;
  margin-top:15px;
  padding:3px;
  background-color:#E8F0DA;
  min-width:125px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

.webmapper-ns .core-edit{
}

.webmapper-ns #webmapper-palette{

}

.webmapper-ns .core-edit td{
  padding:3px;
}

.webmapper-ns .webmapper-map.editable{
  margin:0px;
  width:1000px;
  float:left;
  margin-top:0px;
}
.editable{

  display:block;

  min-width:5px;
  min-height:10px;
  white-space: pre;
}
.editable:hover{
  background-color:yellow;
}

.editable:hover{
  background-color:yellow;
}



.webmapper-ns #logo.editable{
  text-align:left;
}

/* create map */
.webmapper-ns #new-map-form-container{
  display:block;
  margin:auto;
  width:300px;
}

.webmapper-ns #new-map-form{
  font-size:1.3em;
  line-height:1.3em;
  display:block;
  margin:auto;
  width:300px;
  padding:10px;
  background-color:#FAFAFA;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  margin-bottom:40px;

}
.webmapper-ns #new-map-form textarea{
  width:280px;
}
.webmapper-ns #new-map-form p {
  display:block;
  float:left;
  clear:left;
}
.webmapper-ns #new-map-form label {
  display:block;
  float:left;
  clear:left;
}

.webmapper-ns #new-map-form input{
  display:block;
  clear:left;
}
.webmapper-ns .clear{

  width:100%;
  clear:both;
}

/* interface */

.webmapper-ns .interface-box {
}

